%tr{data: {id: note.id}}
  %td
    = note.study_date_str
  %td
    = note.citations_str
  %td
    = note.content
  %td
    = note.tags_str
  %td
    = note.notebook_number
  %td
    = note.notebook_page